

{% extends "sorties/base.html" %}

{% block title %}Créer une Sortie{% endblock %}

{% block content %}
    <div class="header d-flex justify-content-between align-items-center mb-4">
        <h1>Créer une Sortie</h1>
        <a href="{% url 'liste_groupes' %}" class="button">Retour à la liste des sorties</a>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_nom">Nom:</label>
            <input type="text" name="nom" id="id_nom" class="form-control">
        </div>
        <div class="form-group">
            <label for="id_description">Description:</label>
            <textarea name="description" id="id_description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="id_date">Date:</label>
            <input type="text" name="date" id="id_date" class="form-control datepicker">
        </div>
        <div class="form-group">
            <label for="id_lieu">Lieu:</label>
            <input type="text" name="lieu" id="id_lieu" class="form-control">
        </div>
        <div class="form-buttons">
            <button type="submit" class="btn btn-primary button">Créer</button>
        </div>
    </form>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#id_date').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true
            });
        });
    </script>
{% endblock %}
