{% extends "sorties/base.html" %}

{% block content %}
<h1>Proposer une Sortie pour {{ groupe.nom }}</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Proposer</button>
</form>
<head>
    <!-- jQuery UI CSS -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- jQuery UI -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>
<script>
    $(function() {
        $("#id_date").datepicker({
            dateFormat: 'yy-mm-dd'
        });
    });
</script>

{% endblock %}
